<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="Username" label-placement="floating" fill="outline"></ion-input>
      <ion-input label="Password" label-placement="floating" fill="outline"></ion-input>
    </ion-card-content>
  
    <ion-button class="login-btn" color="success">Login</ion-button>
    <ion-button class="register-btn" color="success" fill="outline">Register</ion-button>
  </ion-card>

</ion-content>
