<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feedback</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>1. Difficulty of exam?</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <label for="">Rate from 1 (lowest) to 5 (highest)</label>
        <ion-input placeholder="Enter here" [(ngModel)]="difficulty"></ion-input>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>2. Was the time sufficient?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <label for="">Rate from 1 (lowest) to 5 (highest)</label>
      <ion-input placeholder="Enter here" [(ngModel)]="time"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>3. Was the Supervisor supportive?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <label for="">Rate from 1 (lowest) to 5 (highest)</label>
      <ion-input placeholder="Enter here" [(ngModel)]="support"></ion-input>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>4. Was class neat and tidy?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <label for="">Rate from 1 (lowest) to 5 (highest)</label>
      <ion-input placeholder="Enter text" [(ngModel)]="classroom"></ion-input>
    </ion-card-content>
  </ion-card>
  
  <ion-button (click)="submit()">
    Submit
    <ion-icon slot="end" name="cloud-upload-outline"></ion-icon>
  </ion-button>
  
</div>
    
</ion-content>
