<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Student Details Form</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input label="UCID" label-placement="floating" fill="outline" placeholder="Enter text" [(ngModel)]="ucid"></ion-input>
        <ion-input label="Branch" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-input label="Course" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <ion-input label="SGPA" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </ion-card-content>

      <ion-button fill="clear" (click)="login()">Save</ion-button>
  <ion-button fill="clear" color="danger">Cancel</ion-button>
    </ion-card>
  </div>

</ion-content>
